* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

/* ------------------ page actions  container ---------------- */

.page-actions-cont {
  height: 3rem;
  background-color: #218c74;
  display: flex;
  align-items: flex-end;
}

.page-actions {
  margin: 0.5rem;
  color: #f1f2f6;
}

/* ------------------ cell-props container ---------------- */

.cellprops-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center; /* use this */
  padding: 0 1rem; /* horizontal only */
}

.cellprops-actions-cont > * {
  display: inline-block;
  margin-right: 1rem;
}

.font-family-prop {
  padding: 0.2rem;
  border: none;
  outline: none;
  border-radius: 3px;
}

.font-size-prop {
  padding: 0.2rem;
  border: none;
  outline: none;
  border-radius: 3px;
}

.color-prop {
  position: relative;
}

.color-prop > input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;
}

/* ------------------ formula container ---------------- */

.formula-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;

  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

.formula-actions-cont > * {
  display: inline-block;
}

.formula-actions-cont > input {
  border: none;
  outline: none;
  height: 1.7rem;
}

.address-bar {
  width: 5rem;
  text-align: center;
}

.formula-bar {
  flex: 1;
}

/* ------------------ grid container ---------------- */

.grid-cont {
  height: calc(100vh - 3rem - 3rem - 3rem - 3rem);
  position: relative;
  overflow: scroll;
  background-color: #ecf0f1;
  display: flex;
}

.top-left-dummy {
  height: 2rem;
  width: 2rem;
  background-color: #747d8c;
  position: fixed;
  z-index: 1;
}

.address-col-cont {
  position: absolute;
  top: 2rem;
}

.address-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: 1px solid #dfe4ea;
}

.address-row-cont {
  /* height: 2rem; */
  display: flex;
}

.row-col {
  height: 2rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #dfe4ea;
}

.cell-cont {
  position: absolute;
  top: 0rem;
  left: 2rem;
}

.row-cont {
  display: flex;
}
.cell {
  height: 2rem;
  width: 5rem;
  border: 1px solid #dfe4ea;
  outline: none;
}

/* ------------------ sheet container ---------------- */

.sheet-actions-cont {
  height: 3rem;
  background-color: #ecf0f1;
  display: flex;
  align-items: center;
}

.sheet-actions-cont > * {
  display: inline-block;
}

.sheet-add-icon {
  margin-left: 0.7rem;
  margin-right: 0.3rem;
}

.sheets-folder-cont {
  padding: 0.2rem;
  font-weight: bold;
  margin-right: 1rem;
}
